@import "src/components/mainStyles";

.ant-input{
  width: 100%;
}

.ant-form-item-label{
  label{
    width: 70px;
    @media screen and (max-width: 400px){
      width: 100px;
    }
  }
}

.ant-btn-primary{
  display: block!important;
  margin: 3% auto;

}

