@import "src/components/mainStyles";

.ant-input{
  width: 100%;
}

.ant-form-item-label{
  label{
    width: 140px !important;
    @media screen and (max-width: 400px){
      width: 150px;
    }
  }
}
.ant-form-item-required{
  label{
    width: 100px;
    @media screen and (max-width: 400px){
      width: 120px;
    }
  }
}

.ant-btn-primary{
  display: block!important;
  margin: 3% auto;

}

.label{
  font-weight: 500;
  font-size: 1.2em;
  padding: 2px;
  margin: 10% 0;
}