@import "src/components/mainStyles";

.nav-tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
  cursor: pointer;

  .one-tab {
    font-weight: 300;
    font-size: 1.1rem;

    &:hover {
      text-decoration: underline;
      color: $primary-color;
    }
  }
}

.tab-content {
  padding: 6%;
  margin: 1%;

}

@media screen and (max-width: 450px) {
  .nav-tabs {
    flex-direction: column;
    justify-content: flex-start;
    height: 100px;

    .ant-badge {
      min-width: 90px;
      max-width: 120px;
      margin-left: 3%;
      margin-top: 3%;
      margin-bottom: 3%;
    }
  }
}