
.image-item-active {
  height: auto;
  padding: 5%;

  img {
    width: 100%;
    height: 300px;
    margin: 0 auto;
    border-radius: 10px;

    &:active {
      transition: 0.2s;
      transform: scale(0.98, 0.98);
    }
  }
}

.image-item-disabled {
  width: 100%;
  height: auto;
  padding: 5%;

  img {
    margin: 0 auto;
    height: 300px;
    border-radius: 10px;
    opacity: 0.3;
  }

  span {
    border: red solid 1px;
    border-radius: 10px;
    color: red;
    padding: 2%;
    opacity: 0.8;
    font-weight: 800;
    position: absolute;
    left: 0;
    top: 30%;
    transform: rotate(-50deg);

  }
}