$primary-color: #1890ff;


.my-3 {
  margin-top: 3% !important;
  margin-bottom: 3% !important;
}

.mx-2 {
  margin: 0 5px;
}

.p-3 {
  padding: 3%;
}

.w-70 {
  width: 70%;
}

.w-100 {
  width: 100%;
}

.m-0 {
  margin: 0 !important;
}

.mx-1 {
  margin-left: 4%;
  margin-right: 4%;
}

.mx-auto {
  margin: 0 auto;
}

.bold {
  font-size: 1.1rem;
  font-weight: bold;
}

.form-padding{
  padding: 10%;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}

.custom-file-input::before {
  width: auto;
  text-align: center;
  content: 'Виберіть фото';
  display: inline-block;
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 0.5px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-size: 10pt;

  &:hover {
    border-color: $primary-color;
    color: $primary-color;
  }

  &:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
  }
}

.ant-form-item-label{
  label{
    width: 100px;
  }
}
