.column-wrapper {
  width: 100% !important;
  display: flex;
  justify-content: space-around;
  padding: 1%;
  flex-direction: column;
  @media screen and (max-width: 500px){
    flex-direction: row;
  }
}